<!-- This is the form partial for my projects  -->


<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<!-- Project Name -->
  <div class="form-group">
    <%= form.text_field :name, class: "form-control", placeholder:"Project Name"%>
  </div>

<!-- Project Description -->
  <div class="form-group">
    <%= form.text_area :description, class: "form-control", placeholder:"Project Description" %>
  </div>

<!-- Hours worked -->
  <div class="form-group">
    <%= form.number_field :hours_worked, class: "form-control", placeholder:"Hours Worked" %>
  </div>

<!-- User ID (Hidden Field) -->
  <div class="form-group">
    <%= form.number_field :user_id, id: :project_user_id, class: "form-control", value: current_user.id, type: "hidden"%>
  </div>

<!-- finished check box -->
  <div class="form-group form-check">
    <%= form.check_box :finished, type: "checkbox", class: "form-check-input" %>
    <%= form.label :finished, style: "display: block", class: "form-check-label" %>
  </div>
  

<!-- Submit button -->
  <div class="form-group">
    <%= form.submit class: "btn btn-secondary" %>
  </div>
<% end %>
